{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Match</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/Fitmatch-logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <div class="page">

        <!-- Login -->
        <div class="logo_and_form">
            <a href="{% url 'signup' %}" class="sign_up">Sign up</a>

            <!-- Title -->
            <h1 class="title">Fit Match</h1>

            <!-- Logo -->
            <img src="{% static 'images/Fitmatch-logo.png'%}" class="logo">

            {% if not password_reset_success %}
                    
                <div class="form_container">
                
                    <div class="form_title">Forgot Password Reset</div>
                    {% if messages %}
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    {% endif %}    
                    
                    {% if show_password_form %}
                        {% include './components/passwordResetNewPasswordForm.html' %}
                    {% else %}
                        {% include './components/passwordResetEmailForm.html' %}
                    {% endif %}
                    
                </div> 
            {% else %}
                {% include './components/passwordResetSuccess.html' %}
            {% endif %}
        </div>
    </div>

</body>
</html>