.survey_form{
    width: 700px;
    background-color: #d9d9d9;
    border-radius: 25px;
    padding: 15px 30px;
    border: 1px solid black;
    z-index: 100;
}

.survey_question{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.surveyNextBtn{
    border: 1px solid #9a6a6a;
    border-radius: 10px;
    padding: 10px 15px;
}

.topBar{
    
    z-index: 1000;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.topBarTitle {
    margin:0;
    font-size: 50px;
    text-shadow: 0px 30px 20px rgba(0, 0, 0, 0.774);
    color: #6b2c2c;
    z-index: 3;
    font-family: serif;
}

.topBarLogo{
    width: 60px;
    z-index: 3;
    filter:
        drop-shadow(0 4px 4px rgba(74, 70, 70, 0.25))
        drop-shadow(0 8px 10px rgba(0, 0, 0, 0.25))
        drop-shadow(0 16px 20px rgba(0, 0, 0, 0.2));
}

.survey-container {
    margin: auto 10px;
    position: relative;   /* THIS IS CRITICAL */
    width: 100%;
    height: 85%;
    font-family: Georgia, serif;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     row-gap: 10px;
}

.survey-complete-container{
    margin: auto 10px;
    position: relative;   
    height: 85%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.preview-card {
    position: relative;
    width: 700px;
    z-index: 3;
    margin: 20px auto;
    background: #d9d9d9;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 30px 30px 40px;
    max-width: 600px;
}

.inner-panel {
    background: #72add0;
    border-radius: 6px;
    height: 400px;
    padding: 26px 22px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.title-box {
    background: #dbeaf3;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 18px 20px;
    font-size: 22px;
    color: #444;
}

.plan-box {
    background: #dbeaf3;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 6px 16px;
    font-size: 18px;
    color: #555;
}

.workout-image {
    width: 220px;
    display: block;
}

.signin-box {
    background: #dbeaf3;
    border: 1px solid #666;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 16px;
    font-size: 16px;
    color: #444;
    line-height: 1.25;
}

.signup-btn {
    margin: 24px auto 0;
    width: 400px;
    text-align: center;
    background: #c7e3f1;
    color: #444;
    text-decoration: none;
    font-weight: bold;
    padding: 18px 14px;
    border-radius: 8px;
    border: 1px solid #777;
    font-size: 13px;
}


.plan{
    background-color: rgb(234, 234, 234);
    height: 480px;
    width: 280px;
    border-radius: 10px;;
    padding: 10px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: revert-layer
}

.planDetailModal{
    padding: 10px;
    border-radius: 10px;
    height: 500px;
    width: 1000px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d1d1d1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index:9999;
}
.planDetailVideoDisplay{
    height:100%;
    width: 650px;
}

.planDetailDescription{
    padding: 0 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #c5c5c5;
    gap:20px;
}

.planDetailCloseBtn{
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
    margin-top: auto;
    padding: 10px 0;
    cursor:pointer;
}
.planDetailCloseBtn:hover{
    background-color: rgb(215, 236, 253);     
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}





.plan-container{
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.plan-title{
    font-family: 'Funnel Display', serif;
    font-size: 32px;
    color: #6B2B2B;
    text-align: center;
    font-weight: 700;  
    border: 1px solid black;  
    min-width: 100px;
    padding: 5px 50px;
    border-radius: 10px;
    background-color: rgb(209, 208, 208);
}

.plan-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    overflow: auto;
}


.youtube_video{
    height: 200px;
    width: 100%;
}

.plan-number{
    font-family: 'Funnel Display', serif;
    background-color: #d5d5d5;
    border-radius: 10px;
    padding: 5px 15px;
    width: 80%;
    text-align: center;
    cursor:pointer;
}

.plan-number:hover{
    background-color: rgb(215, 236, 253);     
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.plan-detail{
    height: 180px;
    width: 100%;
    border: 1px solid #cecdcd;
    border-radius: 10px;
    padding: 10px;
}