
<form method="post" class="survey_form">
       {% csrf_token %}

       {% for question in page_obj %}

       <div class="survey_question">

              <div><strong>{{ question.question }}</strong></div>
              <hr style="margin: 5px 0"/>
              {% for choice in question.choices.all %}

              <div class="survey_choice">
              <input type="radio"
                     name="question_{{question.id}}"
                     value="{{choice.text}}"
                     {% if forloop.first %}required{% endif %}>
              {{choice.text}}
              
              </div>

              <br>

              {% endfor %}

       </div>

       {% endfor %}

       <input type="hidden" name="page" value="{{page_number}}">

       <div>

              {% if page_obj.has_next %}
              <button type="submit" class="surveyNextBtn">Next</button>
              {% else %}
              <button type="submit" class="surveyNextBtn">Submit Survey</button>
              {% endif %}

       </div>

</form>