{% load embed_video_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Match</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/Fitmatch-logo.png' %}">
        <link rel="stylesheet" href="{% static 'css/userDetails.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/survey.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topBar">
        <!-- Title -->
        <h1 class="topBarTitle">Fit Match</h1>
        <!-- Login -->
        <img src="{% static 'images/Fitmatch-logo.png'%}" class="topBarLogo">
    </div>

    <div id="blurOverlay" class=""></div>
    
    <div class="survey-complete-container">
        <div class="plan-options">
            {% for item in plans %}
                <div class="plan">
                    <div class="youtube_video">{% video item.video.url '274x200'%}</div>
                        <span class="plan-number" onclick="showPlanDetailModal('{{item.id}}')">Open Plan {{item.id}}</span>
                    <div class="plan-detail">
                        <h3 style="text-align: center;margin-bottom: 10px;">{{item.video.title}}</h3>
                        <ul style="margin:0;padding:0;list-style: none;list-style-position: inside">
                            <li>
                                <b>Time:</b>
                                <span>{{item.exct_time}}</span>
                            </li>
                            <li>
                                <b>Recommendation:</b>
                                <span>{{item.recommendation}}</span>
                            </li>
                            <li>
                                <b>Intensity:</b>
                                <span>{{item.intensity}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="planDetailModal" style="display:none" id="planDetailModal_{{item.id}}">
                        <div class="planDetailVideoDisplay">{% video item.video.url '650x480'%}</div>
                        <div class="planDetailDescription">
                            <div><h2>{{item.video.title}}</h2></div>
                            <div><strong>Description:</strong><p>{{item.description}}</p></div>
                            <div><strong>Intensity of workout:</strong><span>{{item.intensity}}</span></div>
                            <div><strong>Time:</strong><span>{{item.exct_time}}</span></div>
                            <div class="planDetailCloseBtn" onclick="closePlanDetailModal('{{item.id}}')">Close</div>
                        </div>
                    </div>
                </div>
            {% endfor %}    
        </div>
        <div class="preview-wrapper">
            <main class="preview-card">
            <div class="inner-panel">

                <div class="title-box">
                Workout Plan is at your fingertips
                </div>

                <div class="plan-box">
                Start your Fitness journey...
                </div>

                <img src="{% static 'images/Workout-image.jpg' %}" class="workout-image" alt="Workout preview">

                <div class="signin-box">
                Get more out of your<br>
                plan by signing in!
                </div>

            </div>

            <div class="signup-btn">
                <a href="{% url 'signup' %}" style="text-decoration: none; color: #444;">
                    Sign up to get Full benefits of your workout plan
                </a>
            </div>
            </main>
        </div>
    </div>

</body>
<script>
        function showPlanDetailModal(id){
            let modal = document.getElementById("planDetailModal_"+id)
            console.log(modal)
            modal.style.display = "flex"
            document.getElementById("blurOverlay").classList.add("blurBackground")
        }
        function closePlanDetailModal(id){
            let modal = document.getElementById("planDetailModal_"+id)
            modal.style.display = "none"
            document.getElementById("blurOverlay").classList.remove("blurBackground")
        }
    </script>
</html>
