{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitMatch - {{title}}</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/Fitmatch-logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/survey.css' %}">
    <link rel="stylesheet" href="{% static 'css/userDetails.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <a href="#" class="nav-brand">Reset Plan</a>
        <div class="nav-links">
            <div class="nav-item dropdown">
                <a href="{% url 'choose-plan' %}">Fitness Dashboard <span class="arrow"></span></a>
            </div>
            <div class="nav-item dropdown">
                <a href="{% url 'calendar' %}">Calender <span class="arrow"></span></a>
            </div>
            <div class="nav-item dropdown">
                <a href="{% url 'help' %}">Help <span class="arrow"></span></a>
            </div>
            <div class="nav-item dropdown">
                <a href="{% url 'logout' %}">Log out<span class="arrow"></span></a>
            </div>
        </div>
        <div class="nav-icon">
            <img src="{% static 'images/Fitmatch-logo.png' %}" alt="Fit Match Logo" class="fitmatch-logo" viewBox="0 0 64 64" width="50" height="50">
                <circle cx="32" cy="10" r="6" fill="#1a3a5c"/>
                <line x1="32" y1="16" x2="32" y2="35" stroke="#1a3a5c" stroke-width="4" stroke-linecap="round"/>
                <line x1="15" y1="20" x2="49" y2="20" stroke="#1a3a5c" stroke-width="4" stroke-linecap="round"/>
                <line x1="32" y1="35" x2="22" y2="55" stroke="#1a3a5c" stroke-width="4" stroke-linecap="round"/>
                <line x1="32" y1="35" x2="42" y2="55" stroke="#1a3a5c" stroke-width="4" stroke-linecap="round"/>
            </svg>
        </div>
    </nav>

    <div class="nav-glow"></div>
    <div class="survey-container">
        {% include './components/questions.html' %}
    </div>
    
    <div class="university-logo">
        <img src="{% static 'images/UOW-logo.png' %}" alt="University of Westminster Logo" class="uni-logo">
    </div>
</body>

</html>
